body{
    background-color: #fffef9;
    color: #2f2f2f;
}

h1, h2{
    color: #005f73;
    text-align: center;
}

section{
    border: 2px solid #ee9b00;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
}

.img-align{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.img-align img{
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}